{% load staticfiles %}
doctype html
html(lang="en")
	head
		title Capstone Tracker
		link(rel="stylesheet" href="{% static 'css/login.css' %}")
		script(type="text/javascript", src="{% static 'js/login.bundle.js' %}")
	body
		.row
			.col-lg-4.col-lg-offset-4.container
				.auth-container
					img.logo(src="{% static 'images/capitalone-logo-white.png' %}")
					.subtitle Capstone Tracker
					.auth-block {% csrf_token %}
						{% if auth %}
						form.inner-container.front.sign-in-form
							p.label Sign In
							.response#front-response
							.input-group.email-group
								input.form-control(type='email', name="email", value='Email address', onblur="if(this.value == '') this.value = 'Email address'", onfocus="if(this.value == 'Email address') this.value = ''", required='')
							.input-group.password-group
								input.form-control(type='password', name="password", value='password', onblur="if(this.value == '') this.value = 'password'", onfocus="if(this.value == 'password') this.value = ''", required='')
							.input-group.button-group
								input.button.button-action.button-rounded.button-small.submit-button.submit(type="submit", value="Submit")
							p.sub-auth Forgot your 
								a.forgot-password(href="#") password
								|&thinsp;?
						form.inner-container.back.reverse-form
							p.label.reverse-side-label
							.response#reverse-response
							.input-group.email-group.reverse-side-email-group
								input.form-control.reverse-email(type='email', name="email", value='Email address', onblur="if(this.value == '') this.value = 'Email address'", onfocus="if(this.value == 'Email address') this.value = ''", required='')
							.input-group.button-group
								input.button.button-action.button-rounded.button-small.submit-button.submit(type="submit", value="Submit")
							p.sub-auth Changed your mind?
								br
								| Go Back &nbsp;
								a.go-back(href="#") Sign In
						{% else %}
						form.inner-container.change-password-form(method="POST") {% csrf_token %}
							p.label Change Password
							.response#front-response {{form.new_password2.errors|striptags}}
							p.change-password-label New Password:
							.input-group.password-group.change-password-group
								input.form-control(type='password', name="new_password1", value='password', onblur="if(this.value == '') this.value = 'password'", onfocus="if(this.value == 'password') this.value = ''", required='')
							p.change-password-label Confirm Password:
							.input-group.password-group.change-password-group
								input.form-control(type='password', name="new_password2", value='password', onblur="if(this.value == '') this.value = 'password'", onfocus="if(this.value == 'password') this.value = ''", required='')
							.input-group.button-group
								input.button.button-action.button-rounded.button-small.submit-button.submit(type="submit", value="Submit")
						{% endif %}
					{% if auth %}
					.sub-container
						a.sign-up-toggle(href="#")
							i.fa.fa-plus-circle
							p Sign up for Capital One Employee Account
					{% endif %}
