@import "_flexbox";
.logo {
	width: 160px;
	position: absolute;
	top: 15px;
	left: 50px;
}
ul.main-nav.nav {
	background-color: #FFF;
	height: 100px;
	padding: 0 8%;
	.menu {
		height: 100%;
		@include flexbox;
		@include flex-direction(row);
		@include justify-content(flex-end);
		@include align-items(center);
		li {
			margin-left: 5%;
			a {
				text-decoration: none;
				background-color: transparent;
				img {
					width: 45px;
					height: 45px;
				}
			}
			a.active {
				img {
					background-color: transparent;
				}
			}
		}
		li.user {
			display: inline-block;
			p.username {
				display: inline-block;
				margin: 0 0 0 5px;
				font-size: 140%;
				color: #344553;
				vertical-align: middle;
			}
		}
	}
	
}