@import "bootstrap";
@import "bootstrap-select";
@import "font-awesome";
@import "buttons";
@import "_flexbox";
@import "_font";
@import "_box-shadow";
@import "_custon-mixins.scss"; //Please add you mixins into this file
@include font-face(Gotham, "../fonts/gotham/gotham-light", null, null, otf);

html, body {
  height: 100%;
  box-sizing: border-box;
}

html {
}

*, *:before, *:after {
  box-sizing: inherit;
  @include font-smoothing(antialiased);
}

a {
	outline: 0;
}

.button-action {
	background-color: #1CC531;
	&:hover, &:focus {
		background-color: #16A528;
	}
}

.input-group {
	.fa {
		display: table-cell;
	}
	.fa-envelope {
		font-size: 10px;
	}
}

.hidden {
	display: none;
}

