@import "base";
@import "dashboard";

.sub-nav {
    a.description-section.active:after {
        left: 53%;
    }

    a.team-section.active:after {
        left: 55%;
    }

    a.sponsors-section.active:after {
        left: 54%;
    }

    a.github-section.active:after {
        left: 55%;
    }

    a.trello-section.active:after {
        left: 55%;
    }
}

.description-block {
    .project_logo {
        border-radius: 50px;
        margin-left: 20px;
        height: 75px;
        width: 75px;
    }

    .title-block {
        margin-top: 20px;
        
        @include flexbox;

        @include flex-direction(row);

        @include justify-content(flex-start);

        @include align-items(center);

        @include flex-wrap(wrap);
    }
}

.description-container {
    @include box-shadow(2px, -1px, 8px, 0px, rgba(0, 0, 0, 0.75));

    padding: 25px;
    border-radius: 5px;
    position: relative;
    background-color: #344553;

    p.description-text {
        color: #FFF;
        font-size: 17px;
    }
}

.participants {
    @include flexbox;

    @include flex-direction(row);

    @include justify-content(flex-start);

    @include align-items(center);

    @include flex-wrap(wrap);

    .user {
        margin: 0 auto;
        font-weight: 800;
        font-size: 115%;

        i {
            font-size: 3.3em;
            color: #808080;
        }

        padding: 4% 0;

        @include flexbox;

        @include flex-direction(column);

        @include justify-content(space-between);

        @include align-items(center);

        width: 300px;
        height: 200px;
    }
}

.github-container {
    float: left;
    width: 100%;

    @include flexbox;

    @include flex-direction(column);

    @include justify-content(center);

    @include align-items(center);

    .uil-ring-css {
        transform: scale(0.8);

        //Inherits from loading-icon
   
    }

    .failResponse {
        margin: 2% 0;
        color: #ff0033;
        text-align: center;
        font-size: 150%;
    }

    .chart-title {
        @include flexbox;

        @include flex-direction(row);

        @include justify-content(center);

        @include align-items(center);

        color: #344553;
        font-size: 25px;
        font-weight: bold;
    }

    .chartBox {
        width: 100%;
        position: relative;

        @include flexbox;

        @include flex-direction(row);

        @include justify-content(center);

        @include align-items(center);

        .legend {
            position: absolute;
            font-size: 15px;

            ul {
                list-style-type: none;
            }

            li span {
                width: 2em;
                height: 2em;
                display: inline-block;
                margin-right: 5px;
            }
        }

        canvas#teamCommitsChart {
            width: 400px;
            height: 400px;
        }

        canvas#totalCommitsChart {
            width: 800px;
            height: 500px;
        }
    }
}

.trello-container {
    height: 77%;
}