@import "base";
@import "jquery.fullPage.scss";
@import "loading-icon";
@import "_dashboard_header";
* {
    font-family: 'Gotham';
}

.sub-nav {
    background-color: #344553;
    height: 45px;
    padding: 0 13%;
    position: relative;
    @include flexbox;
    @include flex-direction(row);
    @include align-items(center);
    li {
        margin: 0 6%;
        a {
            color: #FFF;
            font-size: 20px;
            &:hover,
            &:focus {
                background-color: transparent !important;
            }
        }
        a:after {
            @include transition(border-top-color 0.2s);
        }
        a.active:after {
            top: 97%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-top-color: #344553;
            border-width: 16px;
            margin-left: -20px;
        }
        a.active.scrolled:after {
            border-top-color: transparent;
        }
        a.description-section.active:after {
            left: 53%;
        }
        a.team-section.active:after {
            left: 55%;
        }
        a.sponsors-section.active:after {
            left: 54%;
        }
        a.github-section.active:after {
            left: 55%;
        }
        a.trello-section.active:after {
            left: 55%;
        }
    }
    &.first {
        @include justify-content(center);
    }
    &.profile {
        @include justify-content(flex-end);
        padding: 0;
    }
}

.dashboard-container {
    padding: 0 4% 8% 4%;
    .title,
    .brief {
        padding-left: 20px;
        color: #344553;
    }
    p.brief {
        font-size: 20px;
    }
}



