@import "base";
* {
	font-family: 'Gotham';
}
.logo {
	width: 12%;
	position: absolute;
	top: 15px;
	left: 50px;
}
ul.main-nav.nav {
	background-color: #FFF;
	height: 100px;
	padding: 0 8%;
	@include flexbox;
	@include flex-direction(row);
	@include justify-content(flex-end);
	@include align-items(center);
	li {
		margin-left: 5%;
		a {
			background-color: transparent;
		}
		img {
			width: 45px;
			height: 45px;
		}
	}
	li.user {
		display: inline-block;
		p.username {
			display: inline-block;
			margin: 0 0 0 5px;
			font-size: 20px;
			color: #344553;
			vertical-align: middle;
		}
	}
}
.sub-nav {
	background-color: #344553;
	height: 45px;
	padding: 0 13%;
	@include flexbox;
	@include flex-direction(row);
	@include justify-content(space-between);
	@include align-items(center);
	li {
		a {
			color: #FFF;
			font-size: 20px;
			&:hover {
				background-color: transparent !important;
			}
		}

		
	}
	

}

.dashboard-container {
	padding: 0 4%;
	h1 {
			color: #344553;
	}
	p{

	}
	.description-container{
		@include box-shadow(2px, -1px, 8px, 0px, rgba(0,0,0,0.75));
		padding: 25px;
		border-radius: 5px;
		position: relative;
		background-color: #344553;
		p{
			color: #FFF;
		}
	}
	.team-container{
		@include flexbox;
		@include flex-direction(row);
		@include justify-content(space-between);
		@include align-items(center);
		@include flex-wrap(wrap);
		.user {
			
			i {
				font-size: 3.3em;
				color: #808080;
			}
			padding: 4% 0;
			@include flexbox;
			@include flex-direction(column);
			@include justify-content(space-between);
			@include align-items(center);
			width: 300px;
			height: 200px;
		}
	}
	.sponsor-container{

	}
	.github-container{

	}
}