@import "base";

body {
	background-color: #003A6F;
}

.row, .authContainer{
	height: 100%;

}

.authContainer {
	@include flexbox;
	@include flex-direction(column);
	@include justify-content(center);
	@include align-items(center);
	@include align-self(center);
	
}

.authBlock {
	@include flexbox;
	@include flex-direction(column);
	@include justify-content(center);
	@include align-items(center);
	@include align-self(center);
	.logo {
		margin-bottom: 15px;
	}
	.loading {
		display: none;
		height: 40px;
		width: 50px;
	}
	.response {
		text-align: center;
	}
}
.auth{
	@include flexbox;
	@include flex-direction(column);
	@include align-items(center);
	.user-type{
		display: none !important;
	}
	.input-group, .user-type-group{
		width: 230px;
		margin-top: 5px;
		.fa-envelope{
			padding: 2px 12px;
		}
	}
	div.btn-group.bootstrap-select.user-type-group {
		display: none;
		width: 150px;
	}
	.submit{ 
		margin-top: 10px;
	}
	.bottomText {
		margin-top: 10px;
		color: white;
		a {
			color: #2980CC;
		}
		a:hover {
			color: #337ab7;
			text-decoration: none;
		}
	}
}