{% load staticfiles %}<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Capstone Tracker</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <script type="text/javascript" src="{% static 'js/login.bundle.js' %}"></script>
  </head>
  <body>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4 container">
        <div class="auth-container"><img src="{% static 'images/capitalone-logo-white.png' %}" class="logo">
          <div class="subtitle">Capstone Tracker</div>
          <div class="auth-block">{% csrf_token %}
            <form class="inner-container front sign-in-form">
              <p class="label">Sign In</p>
              <div id="response" class="response"></div>
              <div class="input-group email-group">
                <input type="email" name="email" value="Email address" onblur="if(this.value == '') this.value = 'Email address'" onfocus="if(this.value == 'Email address') this.value = ''" required="" class="form-control">
              </div>
              <div class="input-group password-group">
                <input type="password" name="password" value="password" onblur="if(this.value == '') this.value = 'password'" onfocus="if(this.value == 'password') this.value = ''" required="" class="form-control">
              </div>
              <div class="input-group button-group">
                <input type="submit" value="Submit" class="button button-action button-rounded button-small sign-in-button submit">
              </div>
              <p class="sub-auth">Forgot your <a href="#" class="forgot-password">password</a>&thinsp;?</p>
            </form>
            <form class="inner-container back reverse-form">
              <p class="label reverse-side-label"></p>
              <div id="reverse-response" class="response"></div>
              <div class="input-group email-group reverse-side-email-group">
                <input type="email" name="email" value="Email address" onblur="if(this.value == '') this.value = 'Email address'" onfocus="if(this.value == 'Email address') this.value = ''" required="" class="form-control">
              </div>
              <div class="input-group button-group">
                <input type="submit" value="Submit" class="button button-action button-rounded button-small sign-in-button submit">
              </div>
              <p class="sub-auth">Changed your mind?<br>Go Back &nbsp;<a href="#" class="go-back">Sign In</a></p>
            </form>
          </div>
          <div class="sub-container"><a href="#" class="sign-up-toggle"><i class="fa fa-plus-circle"></i>
              <p>Sign up for Capital One Employee Account</p></a></div>
        </div>
      </div>
    </div>
  </body>
</html>