img(src="{% static 'images/logo.png' %}").logo
ul.main-nav.nav
	.menu.hidden-xs
		li
			a(href="/dashboard/global")
				{% if global_menu %}
				.globe-icon.active
				{% else %}
				.globe-icon
				{% endif %}
		li
			a(href="/dashboard/")
				{% if project_menu %}
				.folder-icon.active
				{% else %}
				.folder-icon
				{% endif %}
		li.user
			a(href="/dashboard/profile")
				{% if profile_menu %}
				.profile-icon.active
				{% else %}
				.profile-icon
				{% endif %}
				p.username {{request.user.first_name}} {{request.user.last_name}}