.dashboard-container.school-block
	h1.title Schools
	.row.school-container.participants
		.col-lg-4.school
			a(href="#") 
				img(src="{% static 'images/psu.jpg' %}").school_logo
				.school_name The Pennsylvania State University
		.col-lg-4.school
			a(href="#") 
				img(src="{% static 'images/michigan.jpg' %}").school_logo
				.school_name Michigan State University
		.col-lg-4.school
			a(href="#") 
				i
					img(src="{% static 'images/virginia.jpg' %}").school_logo
					.school_name University of Virginia
		.col-lg-4.school
			a(href="#") 
				img(src="{% static 'images/purdue.jpg' %}").school_logo
				.school_name Purdue University