.dashboard-container.school-block
	h1.title Schools
	.row.school-container.participants
		{% for school in schools %}
		.col-lg-4.school
			a(href="#") 
				img(src="{{MEDIA_URL}}{{school.school_avatar}}").school_logo
				.school_name {{school.name}}
		{% endfor %}
