.dashboard-container.sponsors-block
	h1.title Sponsors
	p.brief {{project_entry.title}}
	.sponsors-container.participants
		{% for sponsor in sponsors %}
		.user
			{% avatar sponsor %}
			a(href="#").name {{sponsor.first_name}} {{sponsor.last_name}}
			a(href="mailto:{{sponsor.email}}").email {{sponsor.email}}
		{% endfor %}


		