.dashboard-container.sponsors-block
	h1.title Sponsors
	p.brief {{project_entry.title}}
	.sponsors-container.participants
		{% for employee in employees %}
		.user
			{% avatar employee %}
			a(href="#").name {{employee.first_name}} {{employee.last_name}}
			a(href="#").email {{employee.email}}
		{% endfor %}


		