.dashboard-container.team-block
	h1.title Team
	p.brief {{project_entry.title}}
	.team-container.participants
		{% for student in students %}
		.user
			{% avatar student %}
			a(href="#") {{student.first_name}} {{student.last_name}}
			a(href="mailto:{{student.email}}") {{student.email}}
		{% endfor %}


