.dashboard-container.current_projects-block
	h1.title Capstone Projects
	.current_projects-container.participants
		.project
			a(href="#") 
				i
					.overlay.current
						h2.title Capstone Tracker
						p.brief Web application enabling communication between the school's Capstone Project Team and Capital One
						.subtext
							img(src="{% static 'images/psu.jpg' %}").school_logo_project
							p.timestmp Spring 2016
		.project
			a(href="#") 
				i
					.overlay.current
						h2.title Project Title
						p.brief Short Description of Project
						.subtext
							img(src="{% static 'images/psu.jpg' %}").school_logo_project
							p.timestmp Spring 2016
		.project
			a(href="#") 
				i
					.overlay.old
						h2.title Capstone Tracker
						p.brief Web application enabling communication between the school's Capstone Project Team and Capital One
						.subtext
							img(src="{% static 'images/psu.jpg' %}").school_logo_project
							p.timestmp Fall 2015
		.project
			a(href="#") 
				i
		
					.overlay.old
						h2.title Project Title
						p.brief Short Description of Project
						.subtext
							img(src="{% static 'images/psu.jpg' %}").school_logo_project
							p.timestmp Fall 2015