{% load staticfiles %}
{% load avatar_tags %}
doctype html
html(lang="en")
	head
		title Capstone Tracker
		link(rel="stylesheet" href="{% static 'css/dashboard.css' %}")
		script(type="text/javascript", src="{% static 'js/dashboard.bundle.js' %}")
	body
		img(src="{% static 'images/logo.png' %}").logo
		ul.main-nav.nav
			.menu.hidden-xs
				li
					a(href="#")
						img(src="{% static 'images/elements/menu-icons/globe.svg' %}").globe-icon
				li
					a(href="/dashboard/").active
						img(src="{% static 'images/elements/menu-icons/folder.svg' %}").folder-icon
				li.user
					a(href="/dashboard/profile")
						img(src="{% static 'images/elements/menu-icons/profile.svg' %}").profile-icon
						p.username {{request.user.first_name}} {{request.user.last_name}}
		{% if project %}
		include project
		{% elif global %}
		include global
		{% else %}
		include profile
		{% endif %}

