.dashboard-container.github-block
<<<<<<< Updated upstream
	h1.title Git Hub
	p.brief Capstone Tracker Project Team
=======
	h1 Git Hub Statistics
	p Capstone Tracker Project Team
>>>>>>> Stashed changes
	.github-container
		canvas#myChart
	.legend#legend
	