.dashboard-container.github-block
	h1.title Git Hub Statistics
	p.brief Capstone Tracker Project Team
	.github-container
		h2.chart-title Commits per User
		canvas#myChart
	.legend#legend
	.github-container-line
		h2.chart-title Commit Activity (per month for past year)
		canvas#myLineChart
	
	