{% load staticfiles %}
{% load avatar_tags %}
doctype html
html(lang="en")
	head
		title Capstone Tracker
		link(rel="stylesheet" href="{% static 'css/dashboard_profile.css' %}")
		script(type="text/javascript", src="{% static 'js/profile.bundle.js' %}")
	body
		include includes/_dashboard_header
		ul.sub-nav.nav.profile
			li 
				a(href="#").profile-section Logout
		.dashboard-container.profile-block
			.profile-container
				.avatar
					{% avatar student %}
				.profile-card
					.user
						h1.info Lauren Winkler
						p.info lnw5080@psu.edu
						p.info The Pennsylvania State University
						p.info Computer Science
						p.info Graduation: May 2016
					.links
						i.fa.fa-file-text
					.links
						i.fa.fa-linkedin-square
					.links
						i.fa.fa-pencil-square
			.project
				a(href="#") 
					.overlay.current
						img(src="{% static 'images/psu.jpg' %}").school_logo_project
						h2.title Capstone Tracker
						p.brief Web application enabling communication between the school's Capstone Project Team and Capital One
							
							
		
	