{% load staticfiles %}
{% load avatar_tags %}
doctype html
html(lang="en")
	head
		title Capstone Tracker
		link(rel="stylesheet" href="{% static 'css/dashboard_profile.css' %}")
		script(type="text/javascript", src="{% static 'js/profile.bundle.js' %}")
	body
		include includes/_dashboard_header
		ul.sub-nav
			{% if request.user.employee %}
			li 
				a(href="#") Create Project
			{% endif %}
			li
				a(href="#").profile-section Profile
			li 
				a(href="/account/logout") Logout
		.row.slider
			.section
				.slide.col-lg-12
					include includes/_profile_profile
							
							
		
	