{% load staticfiles %}
{% load avatar_tags %}
doctype html
html(lang="en")
	head
		title Capstone Tracker
		link(rel="stylesheet" href="{% static 'css/dashboard_project.css' %}")
		script(type="text/javascript", src="{% static 'js/project.bundle.js' %}")
	body
		include includes/_dashboard_header
		ul.sub-nav.nav.first
			li 
				a(href="#").description-section.active Description
			li 
				a(href="#").team-section Team
			li 
				a(href="#").sponsors-section Sponsors
			{% if project_entry.github %}
			li 
				a(href="#").github-section Github
			{% endif %}
			{% if project_entry.trello %}
			li 
				a(href="#").trello-section Trello
			{% endif %}
		.row.slider
			.section
				.slide.col-lg-10
					include includes/_project_description
				.slide.col-lg-10
					include includes/_project_team
				.slide.col-lg-10
					include includes/_project_sponsors
				{% if project_entry.github %}
				.slide.col-lg-10
					include includes/_project_github
				{% endif %}
				{% if project_entry.trello %}
				.slide.col-lg-10
					include includes/_project_trello
				{% endif %}
script(type='text/javascript').
	{% if project_entry.github %}
	githubExists = true;
	var parser = document.createElement('a');
	parser.href = "{{project_entry.github}}"; //Given https://github.com/user/repo -> Needed https://api.github.com/repos/user/repo
	parser.pathname = parser.pathname.replace(/^/,'/repos');
	parser.hostname = parser.hostname.replace(/^/,'api.');
	githubRepoLink = parser.href; //Done
	{% endif %}

