ul.sub-nav.nav.first
	li 
		a(href="#").description-section.active Description
	li 
		a(href="#").team-section Team
	li 
		a(href="#").sponsors-section Sponsors
	li 
		a(href="#").github-section Github
	li 
		a(href="#").trello-section Trello
.row.slider
	.section
		.slide.col-lg-10
			include description
		.slide.col-lg-10
			include team
		.slide.col-lg-10
			include sponsors
		.slide.col-lg-10
			include github