.dashboard-container.school-block
	h1.title Schools
	.school-container.participants

		.school
			a(href="#") 
				i
					img(src="{% static 'images/psu.jpg' %}").school_logo
					.school_name The Pennsylvania State University
		.school
			a(href="#") 
				i
					img(src="{% static 'images/michigan.jpg' %}").school_logo
					.school_name Michigan State University
		.school
			a(href="#") 
				i
					img(src="{% static 'images/virginia.jpg' %}").school_logo
					.school_name University of Virginia
		.school
			a(href="#") 
				i
					img(src="{% static 'images/purdue.jpg' %}").school_logo
					.school_name Purdue University