.dashboard-container.sponsors-block
	h1 Sponsors
	p Capstone Tracker Project Team
	.team-container
		.user
			i.fa.fa-user
			a(href="#") John Doe
			a(href="#") example@email.com
		.user
			i.fa.fa-user
			a(href="#") John Doe
			a(href="#") example@email.com
		.user
			i.fa.fa-user
			a(href="#") John Doe
			a(href="#") example@email.com
		.user
			i.fa.fa-user
			a(href="#") John Doe
			a(href="#") example@email.com
		.user
			i.fa.fa-user
			a(href="#") John Doe
			a(href="#") example@email.com
		.user
			i.fa.fa-user
			a(href="#") John Doe
			a(href="#") example@email.com


		