.dashboard-container.team-block
	h1.title The Pennsylvania State University
	p.brief Capstone Tracker Project Team
	.team-container.participants
		.user
			i.fa.fa-user
			a(href="#") John Doe
			a(href="#") example@email.com
		.user
			i.fa.fa-user
			a(href="#") John Doe
			a(href="#") example@email.com
		.user
			i.fa.fa-user
			a(href="#") John Doe
			a(href="#") example@email.com
		.user
			i.fa.fa-user
			a(href="#") John Doe
			a(href="#") example@email.com
		.user
			i.fa.fa-user
			a(href="#") John Doe
			a(href="#") example@email.com
		.user
			i.fa.fa-user
			a(href="#") John Doe
			a(href="#") example@email.com


